.vscode/settings.json
__pycache__

.idea
library/session/.vs/
library/session/obj/
library/session/bin/
library/session/packages/
.vscode/
/writeup/main.out
/writeup/main.bbl
/writeup/main.pdf
/writeup/main.log
/writeup/main.blg
/writeup/main.fls
/writeup/main.synctex
/writeup/main.aux
/writeup/main.fdb_latexmk
/writeup/main.synctex.gz
/.DS_Store
/writeup
/writeup/.texpadtmp
/writeup/.texpadtmp/main.aux
/writeup/.texpadtmp/main.blg
/writeup/.texpadtmp/main.synctex.gz
/writeup/.texpadtmp/main.bbl
/writeup/.texpadtmp/main.out
/writeup/.texpadtmp/main.log
coq/#*.v#
coq/*.aux
coq/*.glob
coq/*.vo
.DS_Store
