.vscode/settings.json
__pycache__

.idea
.vscode/
test-diffs/
/.DS_Store
target/
vegas/src/generated/*
vegas/bin/*
vegas/gambit/*.efg
scala.iml
*.sbt

coq/#*.v#
coq/*.aux
coq/*.glob
coq/*.vo
.DS_Store
